Repository Henex1/sierra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, generate_schema

deps:
  stage: deps
  script:
  - echo docker build \ --cache-from $DEPS_IMAGE \ --target deps --tag $DEPS_IMAGE \ --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
  - docker push -q $DEPS_IMAGE

generate_schema:
  stage: generate_schema
  script:
  - echo docker build \ --cache-from $SCHEMA_IMAGE --cache-from $DEPS_IMAGE \ --target schema --tag $SCHEMA_IMAGE \ --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
  - docker push -q $SCHEMA_IMAGE

fix ci
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat: add loading spinner on lab loading
  components/common/BackdropLoadingSpinner.tsx
  next-env.d.ts
  pages/[projectId]/lab.tsx
Due: none

Update README.md
  README.md
Due: none

Update Dockerfile
  Dockerfile
Due: none

fix: save/run query updates
  components/lab/ActionButtons.tsx
  components/lab/ConfigurationDrawer.tsx
  components/lab/QueryPanel.tsx
  components/lab/RulesetPanel.tsx
  lib/runningTasks.js
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/querytemplates/index.ts
  pages/api/searchconfigurations/index.ts
Due: none

chore: convert server to ts
  .gitignore
  Dockerfile
  lib/apiServer.ts
  lib/env.ts
  lib/redis.js
  lib/redis.ts
  lib/runningTasks.ts
  nodemon.json
  package.json
  server.js
  server/index.ts
  tsconfig.server.json
  yarn.lock
Due: deps, generate_schema

Include types.d.ts in server build
  tsconfig.server.json
Due: none

Expose getActiveSearchConf via API
  pages/api/searchconfigurations/[projectId].ts
  pages/api/searchconfigurations/index.ts
Due: none

Resolve "[Lab] Support individual search configurations for executions"
  .gitlab-ci.yml
  components/lab/ActionButtons.tsx
  components/lab/ConfigurationDrawer.tsx
  lib/execution/index.tsx
  lib/redis.ts
  lib/runningTasks.ts
  lib/searchconfigurations/index.tsx
  lib/test/constants.ts
  nodemon.json
  package.json
  pages/[projectId]/lab.tsx
  pages/api/dev/[name].ts
  pages/api/searchconfigurations/index.test.ts
  pages/api/searchconfigurations/index.ts
  prisma/migrations/20210528093147_init/migration.sql
  prisma/schema.prisma
  server/index.ts
  setupTests.ts
  yarn.lock
Due: deps, generate_schema

fix: do not apply empty execution id
  lib/searchconfigurations/index.tsx
Due: none

Fixed create new project
  components/projects/Form.tsx
  components/searchendpoints/Form.tsx
  pages/projects/create.tsx
Due: none

fix sierra start command
  package.json
Due: deps, generate_schema

Resolve "New APIs and changes required for Search Configurations"
  components/projects/Form.tsx
  components/projects/ProjectSearchConfigurationsSelect.tsx
  lib/projects/index.tsx
  lib/searchconfigurations/index.tsx
  lib/test/constants.ts
  pages/[projectId]/lab.tsx
  pages/api/dev/[name].ts
  pages/api/projects/[projectId]/active-search-configuration.ts
  pages/api/projects/index.test.ts
  pages/api/projects/index.ts
  pages/api/searchconfigurations/[id].ts
  pages/api/searchconfigurations/[projectId].ts
  pages/api/searchconfigurations/execute.ts
  pages/api/searchconfigurations/index.test.ts
  pages/api/searchconfigurations/index.ts
  pages/projects/[id]/edit.tsx
  pages/projects/create.tsx
  prisma/schema.prisma
Due: generate_schema

fix: package.json to reduce vulnerabilities
  package.json
Due: deps, generate_schema

Show default organization image
  pages/me/organization/index.tsx
  public/images/no-image.svg
Due: none

added whoami endpoint
  lib/authServer.ts
  pages/api/auth/whoami.ts
Due: none

Fix passing redundant index name in test connection
  lib/searchendpoints/elasticsearch.ts
  lib/searchendpoints/index.tsx
Due: none

Updating readme with test datasets
  README.md
Due: none

Don't include the README in the container
  .dockerignore
Due: none

Fixed query and knobs format
  components/lab/QueryPanel.tsx
  lib/querytemplates/index.tsx
  pages/api/dev/[name].ts
Due: none

Create SearchEndpoints without active project
  pages/searchendpoints/index.tsx
Due: none

ExposedSearchConfiguration, added search_endpoint_type field
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/projects/index.ts
  pages/api/searchconfigurations/index.test.ts
  pages/api/searchconfigurations/index.ts
Due: none

User feedback form
  .env.sample
  components/AppTopBar/AppTopBar.tsx
  components/AppTopBar/AppTopBarStyles.tsx
  components/AppTopBar/FeedbackMenu/Page.tsx
  components/AppTopBar/FeedbackMenu/index.tsx
  components/AppTopBar/FeedbackMenu/types/Feedback.ts
  components/Feedback/Rating.tsx
  components/Feedback/Report.tsx
  components/Feedback/Request.tsx
  components/Feedback/index.tsx
  components/Feedback/internal/Form.tsx
  components/Feedback/internal/Space.tsx
  components/Feedback/internal/hooks.ts
  lib/apiServer.ts
  lib/sendgrid.ts
  package.json
  pages/api/feedback/index.ts
  pages/api/feedback/rate.ts
  pages/api/feedback/report.ts
  pages/api/feedback/request.ts
  yarn.lock
Due: deps, generate_schema

small fixes
  components/Feedback/Rating.tsx
  components/Feedback/Report.tsx
Due: none

Associated api key with organization
  components/profile/ApiKeys.tsx
  lib/users/apikey.tsx
  pages/api/users/apikey/index.tsx
  prisma/schema.prisma
Due: generate_schema

[Snyk] Security upgrade next-auth from 3.19.3 to 3.29.0
  package.json
  yarn.lock
Due: deps, generate_schema

Add support for proper Bearer auth
  lib/authServer.ts
Due: none

Some refactoring fixes
  components/AppTopBar/FeedbackMenu/Page.tsx
Due: none

Fixed ApiKeys listing
  components/profile/ApiKeys.tsx
Due: none

feat: implement error handling/alerting mechanism
  components/Alerts/index.tsx
  components/lab/ConfigurationDrawer.tsx
  components/lab/RulesetPanel.tsx
  lib/errors/constants.ts
  lib/errors/index.ts
  lib/searchendpoints/elasticsearch.ts
  lib/searchendpoints/queryexpander.ts
  pages/[projectId]/judgements/judging.tsx
  pages/[projectId]/lab.tsx
  pages/_app.tsx
  pages/api/dev/[name].ts
  pages/api/judgements/index.ts
  pages/api/lab/searchResult.tsx
  pages/api/organization/index.ts
  pages/api/projects/index.ts
  pages/api/querytemplates/index.ts
  pages/api/rulesets/[id].ts
  pages/api/searchconfigurations/index.ts
  pages/api/searchendpoints/query.ts
  pages/api/users/me.tsx
  pages/dev/index.tsx
  utils/react/hooks/useAlertsContext.ts
  utils/react/providers/AlertsProvider.tsx
Due: none

feat: replace 0 with ? for no executions
  components/dashboard/ProjectList.tsx
  lib/projects/index.tsx
Due: none

Fix API Keys table
  components/profile/ApiKeys.tsx
Due: none

Fix query expander API call
  lib/searchendpoints/queryexpander.ts
Due: none

added logo in the header
  components/AppTopBar/AppTopBar.tsx
  components/AppTopBar/AppTopBarStyles.tsx
  public/images/sierraLogo_white.svg
Due: none

Added redis to env sample
  .env.sample
Due: none

Add checkbox to allow ignoring certificate issues when https is used, Fixed...
  components/projects/Form.tsx
  components/searchendpoints/Form.tsx
  lib/schema.ts
  lib/searchendpoints/elasticsearch.ts
  lib/searchendpoints/index.tsx
  lib/searchendpoints/types/ExposedSearchEndpoint.ts
  lib/searchendpoints/types/TestSearchEndpoint.ts
  pages/api/dev/[name].ts
  pages/api/searchendpoints/[[...path]].test.tsx
  pages/api/searchendpoints/connection.ts
  pages/projects/[id]/edit.tsx
  pages/projects/[id]/index.tsx
  pages/projects/create.tsx
  pages/searchendpoints/[id].tsx
  pages/searchendpoints/create.tsx
  pages/searchendpoints/index.tsx
  utils/react/hooks/usePageUnload.ts
Due: none

Path conditions:
  deps: any of: package.json, yarn.lock, eslint/*, patches/*
  generate_schema: any of: prisma/*, package.json, yarn.lock, eslint/*, patches/*
