Repository Henex1/sierra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, generate_schema

.gitlab-ci.yml:

image: docker:20.10.6

variables:
  STAGING_REGISTRY: "registry.gitlab.com"
  DATABASE_URL: "postgresql://postgres:example@postgres:5432/postgres?schema=public"
  NEXTAUTH_URL: http://localhost:3000/api/auth
  SECRET: "unset_nextauth_secret"
  ALLOW_REGISTRATION_FROM: bigdataboutique.com
  QUERY_EXPANDER_URL: http://localhost:8080
  GOOGLE_ID: "unset_google_id"
  GOOGLE_SECRET: "unset_google_secret"
  DEPS_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-deps
  SCHEMA_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-schema
  BUILDER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-builder
  LATEST_IMAGE: ${CI_REGISTRY_IMAGE}:latest
  DOCKER_BUILDKIT: 1
  BUILDKIT_PROGRESS: plain

services:
  - docker:20.10.6-dind

before_script:
  - echo "$CI_BUILD_TOKEN" | docker login -u gitlab-ci-token --password-stdin $STAGING_REGISTRY

stages:
  - deps
  - generate_schema
  - test
  - build
  - dockerize
  - deploy_dev
  - deploy_staging


deps:
  stage: deps
  script:
    - echo docker build \
          --cache-from $DEPS_IMAGE \
          --target deps --tag $DEPS_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $DEPS_IMAGE
  only:
    refs:
      - branches
    changes:
      - package.json
      - yarn.lock
      - eslint/*
      - patches/*

generate_schema:
  stage: generate_schema
  script:
    - echo docker build \
          --cache-from $SCHEMA_IMAGE --cache-from $DEPS_IMAGE \
          --target schema --tag $SCHEMA_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $SCHEMA_IMAGE
  only:
    refs:
      - branches
    changes:
      - prisma/*
      - package.json
      - yarn.lock
      - eslint/*
      - patches/*

build:
  stage: build
  script:
    - echo docker build \
          --cache-from $BUILDER_IMAGE --cache-from $SCHEMA_IMAGE --cache-from $DEPS_IMAGE \
          --tag $BUILDER_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $BUILDER_IMAGE
  only:
    - master


test:
  stage: test
  image:
    name: $SCHEMA_IMAGE
    entrypoint: ["/usr/bin/env"]
  before_script: []
  services:
    - postgres:12.2-alpine
  variables:
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: "example"
    POSTGRES_HOST_AUTH_METHOD: trust
  script:
    - cp -r /app/node_modules ./
    - yarn ts-node eslint/test.js
    - yarn lint
    - yarn tsc -b .
    - yarn prisma migrate reset -f
    - yarn test
  only:
  # - merge_requests
  - fake

dockerize:
  stage: dockerize
  script:
    - docker pull -q $BUILDER_IMAGE || true
    - RELEASE_IMAGE=$CI_REGISTRY_IMAGE:${CI_COMMIT_SHA:0:9}
    - docker tag $BUILDER_IMAGE  $LATEST_IMAGE
    - docker tag $BUILDER_IMAGE  $RELEASE_IMAGE
    - docker push -q $LATEST_IMAGE
    - docker push -q $RELEASE_IMAGE
    - apk add --update curl && curl -XPOST -H "Content-type:application/json" --data "{\"text\":\"$CI_PROJECT_NAME $RELEASE_IMAGE is ready!\"}" "https://hooks.slack.com/services/$SLACK_HOOK"
    - echo "RELEASE_IMAGE=$RELEASE_IMAGE" >> build.env

  only: 
  - merge_requests
  # only:
  #   - master

deploy_dev:
  stage: deploy_dev
  variables:
    ARGO_APP_NAME: sierra-app
    RELEASE_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}"
    PARENT_PATH: $CI_PROJECT_PATH
    ENVIRONMENT: dev
  trigger:
    project: project-sierra/sierra-manifests
  when: manual
  only:
  - merge_requests

deploy_staging:
  stage: deploy_staging
  variables:
    ARGO_APP_NAME: sierra-app
    RELEASE_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}"
    PARENT_PATH: $CI_PROJECT_PATH
    ENVIRONMENT: staging
  trigger:
    project: project-sierra/sierra-manifests
  needs:
    - dockerize
  only:
    - master

Resolve "Search Configuration doesn't seem to use rulesets"
  components/lab/ConfigurationDrawer.tsx
  components/lab/RulesetPanel.tsx
  lib/searchendpoints/queryexpander.ts
Due: none

Updating some outdated versions
  Dockerfile
  package.json
  yarn.lock
Due: deps, generate_schema

Improved queryexpander logging and updated request user agent
  lib/searchendpoints/queryexpander.ts
Due: none

Fixed pipeline
  lib/searchendpoints/elasticsearch.ts
  lib/searchendpoints/index.tsx
  lib/searchendpoints/solr.ts
  package.json
  pages/api/judgements/index.ts
  pages/searchendpoints/[id].tsx
  pages/testbed/index.tsx
  yarn.lock
Due: deps, generate_schema

Update node-fetch
  package.json
  yarn.lock
Due: deps, generate_schema

Update Prisma to support node 16
  package.json
  yarn.lock
Due: deps, generate_schema

algo tests
  lib/scorers/algorithms.test.ts
Due: none

More AP tests
  lib/scorers/algorithms.test.ts
  lib/scorers/algorithms.tsx
Due: none

Resolve "Various visual bugs"
  components/JsonEditor/JsonEditor.tsx
  components/lab/ConfigurationDrawer.tsx
  components/lab/ResultList.tsx
  components/lab/RulesetPanel.tsx
  components/rulesets/InlineQueryEditor.tsx
  components/rulesets/Instructions/index.tsx
  components/rulesets/Instructions/types.ts
  components/rulesets/RulesetEditor.tsx
  lib/rulesets/rules.tsx
  pages/api/dev/[name].ts
Due: none

Resolve "Search endpoints should be organization-scoped"
  lib/searchendpoints/index.tsx
  pages/projects/[id]/edit.tsx
  pages/projects/create.tsx
  pages/searchendpoints/index.tsx
Due: none

Scorers
  lib/execution/index.tsx
  lib/scorers/algorithms.tsx
  lib/scorers/ndcg.test.tsx
  lib/scorers/ndcg.tsx
Due: none

Add Reciprocal Rank
  lib/execution/index.tsx
  lib/scorers/reciprocalRank.test.tsx
  lib/scorers/reciprocalRank.tsx
Due: none

AP calculation is incorrect, removing it for now
  lib/execution/index.tsx
  lib/scorers/algorithms.test.ts
Due: none

Add Recall
  lib/execution/index.tsx
  lib/scorers/recall.tsx
Due: none

Ignoring invalid type instructions
  components/rulesets/Instructions/index.tsx
  components/rulesets/RulesetEditor.tsx
Due: none

Fix NDCG + add tests
  lib/scorers/ndcg.test.tsx
  lib/scorers/ndcg.tsx
Due: none

More scorers cleanup
  lib/execution/index.tsx
  lib/scorers/recall.tsx
Due: none

Fixing AP scorer
  lib/execution/index.tsx
  lib/scorers/algorithms.tsx
  lib/scorers/precision.test.ts
  lib/scorers/precision.tsx
Due: none

Resolve "Set As Active button does nothing"
  components/lab/ExecutionSummary.tsx
  lib/searchconfigurations/index.tsx
Due: none

Finally fixing AP
  lib/scorers/precision.test.ts
  lib/scorers/precision.tsx
Due: none

Resolve "Signup process via invite link"
  lib/authServer.ts
  lib/invitation/index.ts
  lib/org/index.ts
  pages/api/organization/index.ts
  pages/auth/[invitationId].tsx
  pages/auth/signin/index.tsx
  pages/me/organization/[orgId]/index.tsx
  pages/me/organization/[orgId]/users.tsx
  prisma/schema.prisma
  utils/react/providers/AlertsProvider.tsx
Due: generate_schema

Schema and codebase updates
  components/lab/ConfigurationDrawer.tsx
  components/lab/NoExistingExecution.tsx
  components/lab/QueryTemplateEditor/ElasticQueryPanel.tsx
  components/lab/QueryTemplateEditor/SolrQueryPanel.tsx
  components/lab/QueryTemplateEditor/index.tsx
  lib/execution/index.tsx
  lib/querytemplates/index.tsx
  lib/searchconfigurations/index.tsx
  lib/searchendpoints/queryexpander.ts
  lib/test/constants.ts
  pages/api/dev/[name].ts
  pages/api/searchconfigurations/index.ts
  pages/api/testbed/query.ts
  pages/querytemplates/[id].tsx
  pages/querytemplates/index.tsx
  prisma/schema.prisma
Due: generate_schema

Fix lab locking
  components/lab/NoExistingExecution.tsx
  lib/authServer.ts
  lib/execution/index.tsx
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/index.test.tsx
Due: none

Minor
  pages/api/dev/[name].ts
Due: none

Execution list numbering and loading
  components/lab/ExecutionList.tsx
  components/lab/ExecutionSummary.tsx
  lib/execution/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/executions/load.ts
Due: none

Allow signing in from bdbq domain
  .env.sample
  .gitlab-ci.yml
  Dockerfile
  lib/authServer.ts
Due: none

Format prisma schema and add instructions to readme on staging deployment
  README.md
  prisma/schema.prisma
Due: generate_schema

fix: package.json to reduce vulnerabilities
  package.json
Due: deps, generate_schema

yarn lock
  yarn.lock
Due: deps, generate_schema

Fixed: Blank org on first load after invitation-based sign in
  pages/auth/[invitationId].tsx
  pages/auth/signin/index.tsx
Due: none

fixed
  lib/authServer.ts
Due: none

Update README.md
  README.md
Due: none

Fix signup procedure for dev environment
  lib/authServer.ts
Due: none

Lab's execution list refactoring
  components/lab/ConfigurationDrawer.tsx
  components/lab/ExecutionDetails.tsx
  components/lab/ExecutionList.tsx
  components/lab/ExecutionSummary.tsx
  components/lab/NoExistingExecution.tsx
  lib/execution/index.tsx
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/executions/current.ts
  pages/api/searchconfigurations/index.test.ts
  pages/api/searchconfigurations/index.ts
  pages/api/searchconfigurations/load.ts
  utils/json.ts
  utils/react/providers/LabProvider.tsx
Due: none

added active flag to User model
  lib/authServer.ts
  prisma/schema.prisma
Due: generate_schema

TODO comment
  lib/authServer.ts
Due: none

Stop ignoring migrations
  .gitignore
  prisma/migrations/20220203133331_init/migration.sql
Due: none

Better invite links + fix sendgrid initialization
  lib/org/index.ts
  lib/sendgrid.ts
  pages/api/feedback/index.ts
Due: none

fix
  pages/api/feedback/index.ts
Due: none

Fix CI
  .gitlab-ci.yml
Due: none
