Repository Henex1/sierra: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, generate_schema

.gitlab-ci.yml:

image: docker:20.10.6

variables:
  STAGING_REGISTRY: "registry.gitlab.com"
  DATABASE_URL: "postgresql://postgres:example@postgres:5432/postgres?schema=public"
  NEXTAUTH_URL: http://localhost:3000/api/auth
  SECRET: "unset_nextauth_secret"
  ALLOW_REGISTRATION_FROM: bigdataboutique.com
  QUERY_EXPANDER_URL: http://localhost:8080
  GOOGLE_ID: "unset_google_id"
  GOOGLE_SECRET: "unset_google_secret"
  DEPS_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-deps
  SCHEMA_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-schema
  BUILDER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_REF_SLUG}-builder
  LATEST_IMAGE: ${CI_REGISTRY_IMAGE}:latest
  DOCKER_BUILDKIT: 1
  BUILDKIT_PROGRESS: plain

services:
  - docker:20.10.6-dind

before_script:
  - echo "$CI_BUILD_TOKEN" | docker login -u gitlab-ci-token --password-stdin $STAGING_REGISTRY

stages:
  - deps
  - generate_schema
  - test
  - build
  - dockerize
  - deploy_dev
  - deploy_staging


deps:
  stage: deps
  script:
    - echo docker build \
          --cache-from $DEPS_IMAGE \
          --target deps --tag $DEPS_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $DEPS_IMAGE
  only:
    refs:
      - branches
    changes:
      - package.json
      - yarn.lock
      - eslint/*
      - patches/*

generate_schema:
  stage: generate_schema
  script:
    - echo docker build \
          --cache-from $SCHEMA_IMAGE --cache-from $DEPS_IMAGE \
          --target schema --tag $SCHEMA_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $SCHEMA_IMAGE
  only:
    refs:
      - branches
    changes:
      - prisma/*
      - package.json
      - yarn.lock
      - eslint/*
      - patches/*

build:
  stage: build
  script:
    - echo docker build \
          --cache-from $BUILDER_IMAGE --cache-from $SCHEMA_IMAGE --cache-from $DEPS_IMAGE \
          --tag $BUILDER_IMAGE \
          --build-arg BUILDKIT_INLINE_CACHE=1 . | sh
    - docker push -q $BUILDER_IMAGE
  only:
    - master


test:
  stage: test
  image:
    name: $SCHEMA_IMAGE
    entrypoint: ["/usr/bin/env"]
  before_script: []
  services:
    - postgres:12.2-alpine
  variables:
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: "example"
    POSTGRES_HOST_AUTH_METHOD: trust
  script:
    - cp -r /app/node_modules ./
    - yarn ts-node eslint/test.js
    - yarn lint
    - yarn tsc -b .
    - yarn prisma migrate reset -f
    - yarn test
  only:
  # - merge_requests
  - fake

dockerize:
  stage: dockerize
  script:
    - docker pull -q $BUILDER_IMAGE || true
    - RELEASE_IMAGE=$CI_REGISTRY_IMAGE:${CI_COMMIT_SHA:0:9}
    - docker tag $BUILDER_IMAGE  $LATEST_IMAGE
    - docker tag $BUILDER_IMAGE  $RELEASE_IMAGE
    - docker push -q $LATEST_IMAGE
    - docker push -q $RELEASE_IMAGE
    - apk add --update curl && curl -XPOST -H "Content-type:application/json" --data "{\"text\":\"$CI_PROJECT_NAME $RELEASE_IMAGE is ready!\"}" "https://hooks.slack.com/services/$SLACK_HOOK"
    - echo "RELEASE_IMAGE=$RELEASE_IMAGE" >> build.env

  only: 
  - merge_requests
  # only:
  #   - master

deploy_dev:
  stage: deploy_dev
  variables:
    ARGO_APP_NAME: sierra-app
    RELEASE_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}"
    PARENT_PATH: $CI_PROJECT_PATH
    ENVIRONMENT: dev
  trigger:
    project: project-sierra/sierra-manifests
  when: manual
  only:
  - merge_requests

deploy_staging:
  stage: deploy_staging
  variables:
    ARGO_APP_NAME: sierra-app
    RELEASE_IMAGE: "${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}"
    PARENT_PATH: $CI_PROJECT_PATH
    ENVIRONMENT: staging
  trigger:
    project: project-sierra/sierra-manifests
  needs:
    - dockerize
  only:
    - master

Sendgrid env var to optional (for CI)
  lib/sendgrid.ts
Due: none

set "active" default to false
  lib/authServer.ts
  prisma/migrations/20220203141942_/migration.sql
  prisma/schema.prisma
Due: generate_schema

Allow users who already have an account to log in
  lib/authServer.ts
  prisma/migrations/20220203141942_/migration.sql
  prisma/schema.prisma
Due: generate_schema

fix ci
  lib/org/index.test.ts
  lib/test/constants.ts
Due: none

Search phrase expanded query popover
  components/JsonEditor/JsonEditor.tsx
  components/lab/ExpandedQueryPopover.tsx
  components/lab/ResultList.tsx
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/searchendpoints/expandQuery.ts
  utils/react/providers/LabProvider.tsx
Due: none

Logging actual ES query error instead of default message
  lib/searchendpoints/elasticsearch.ts
Due: none

disabled Edit Organization page items for user-scoped org
  components/AvatarUpload/Input.tsx
  components/AvatarUpload/index.tsx
  components/organization/CreateOrganizationForm.tsx
  pages/me/organization/[orgId]/index.tsx
Due: none

Resolve "UI/UX for new Search Configuration and Execution"
  components/lab/ConfigurationDrawer.tsx
  components/lab/ExecutionList.tsx
  components/lab/ExecutionSummary.tsx
  components/lab/RulesetPanel.tsx
  components/rulesets/RulesetEditor.tsx
  lib/searchconfigurations/index.tsx
  pages/[projectId]/lab.tsx
  pages/api/searchconfigurations/load/[id].ts
  pages/api/searchconfigurations/load/index.ts
  utils/react/providers/LabProvider.tsx
Due: none

Added organization in profile page, API Keys moved to setting page
  components/AppTopBar/MobileUserMenu.tsx
  components/AppTopBar/UserMenu.tsx
  lib/org/index.ts
  lib/org/types/OrgAggregates.ts
  pages/me/index.tsx
  pages/me/organization/[orgId]/index.tsx
  pages/me/organization/[orgId]/users.tsx
  pages/me/organization/create/index.tsx
  pages/me/organization/index.tsx
  pages/me/organizations/index.tsx
  pages/settings/index.tsx
Due: none

Resolve "Import judgments wizard"
  components/common/FileInput.tsx
  lib/judgements/index.tsx
  pages/[projectId]/judgements/import.tsx
  pages/api/dev/[name].ts
  pages/api/judgements/getColumns.ts
  pages/api/judgements/index.ts
Due: none

Fix error logs
  lib/execution/index.tsx
Due: none

Resolve "[Lab] Search Endpoint access errors need to be more descriptive and actionable"
  lib/searchendpoints/elasticsearch.ts
  pages/[projectId]/lab.tsx
Due: none

menu style changes
  components/AppTopBar/UserMenu.tsx
Due: none

changes
  components/AppTopBar/UserMenu.tsx
Due: none

Top menu changes
  components/AppTopBar/UserMenu.tsx
Due: none

fix
  components/AppTopBar/UserMenu.tsx
Due: none

Fix lab ruleset bugs
  components/lab/ConfigurationDrawer.tsx
  components/lab/RulesetPanel.tsx
  lib/rulesets/index.tsx
  lib/searchconfigurations/index.tsx
  pages/api/rulesets/[id].ts
  pages/rulesets/[id].tsx
Due: none

Fix pipeline
  components/AppTopBar/AppTopBar.tsx
  package.json
  yarn.lock
Due: deps, generate_schema

Missing yarn statement in prisma commands
  README.md
Due: none

Resolve "Avatar Menu Design"
  components/AppTopBar/AppTopBar.tsx
  components/AppTopBar/UserMenu.tsx
  components/common/icons/index.tsx
  components/organization/Avatar.tsx
  components/organization/CreateOrganizationForm.tsx
  lib/org/index.ts
  lib/org/types/CreateOrg.ts
  lib/org/types/UpdateOrg.ts
  lib/test/constants.ts
  package.json
  pages/api/organization/index.ts
  pages/me/organization/[orgId]/index.tsx
  pages/me/organization/create/index.tsx
  prisma/migrations/20220203141942_/migration.sql
  prisma/migrations/20220314200432_/migration.sql
  prisma/schema.prisma
Due: deps, generate_schema

Committed to GitHub
  .env.sample
  package-lock.json
  package.json
  yarn.lock
Due: deps, generate_schema

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Create .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

For possible deployment
  .gitlab-ci.yml
  Dockerfile
  docker-compose.local.yml
Due: none

Authenticated
  .gitlab-ci.yml
  Dockerfile
  docker-compose.local.yml
Due: none

Changed
  package-lock.json
  package.json
Due: deps, generate_schema
